*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: skyblue;
}

image {width: ;}
.centrado{opacity: 0%;
}
.galeria {
  width: 100%
display: flex;
padding:5px;
}
.galeria{
display: flex;
flex-wrap: wrap;}

/* columna */
.galeria {
flex: auto;
padding: 2px;}

.galeria_img:hover {filter: opacity(.5);}
.galeria_img .galery_image{opacity: 100%}

.galeria_img:hover {texto: opacity(0.5);}
.galeria_img .centrado {opacity: 0%}

/* adentro de la columna*/
.galery_image {
cursor: pointer;
width: 50vh}

.galeria_img{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
